certifi==2023.11.17
charset-normalizer==3.3.2
cycler==0.11.0
filelock==3.12.2
fire==0.5.0
fonttools==4.38.0
fsspec==2023.1.0
huggingface-hub==0.16.4
idna==3.6
importlib-metadata==6.7.0
imutils==0.5.4
kiwisolver==1.4.5
matplotlib==3.5.3
natsort==8.4.0
numpy==1.21.6
opencv-python==4.5.2.54
packaging==23.2
Pillow==9.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
termcolor==2.3.0
timm==0.6.12
torch==1.8.1
torchvision==0.9.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.7
zipp==3.15.0
